image: ubuntu:latest

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE != "push"
      when: never
    - if: $CI_COMMIT_BRANCH == "test_ci"

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: '-Dargline="Xmx1024m" -Dmaven.repo.local=.m2/repository'

stages:
  - build
  - package
  - test
  - deploy-dev
  - deploy-release
  - package-software

cache:
  paths:
    - .m2/repository
    - build/

build-job:
  stage: build
  before_script:
    - echo "Installing OpenJDK 8 and Maven"
    - apt update
    - apt install -y openjdk-8-jdk maven
  script:
    - echo "Building Artifact"
    - mvn $MAVEN_CLI_OPTS clean compile
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - build/

package-job:
  stage: package
  dependencies:
    - build-job
  before_script:
    - echo "Installing OpenJDK 8 and Maven"
    - apt update
    - apt install -y openjdk-8-jdk maven
    - export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/bin
  script:
    - echo "Packaging the code"
    - mvn $MAVEN_CLI_OPTS package -Dmaven.test.skip=true
  artifacts:
    expire_in: 30 days
    paths:
      - build/

test-job:
  stage: test
  dependencies:
    - package-job
  before_script:
    - echo "Installing OpenJDK 8 and Maven"
    - apt update
    - apt install -y openjdk-8-jdk maven
  script:
    - echo "Checking files"
    - mvn clean verify
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - build/

deploy-dev-job:
  stage: deploy-dev
  dependencies:
    - package-job
  before_script:
    - echo "Installing OpenJDK 8 and Maven"
    - apt update
    - apt install -y openjdk-8-jdk maven
  script:
    - echo "Deploy artifact to the Nexus development server"
    - mvn -X $MAVEN_CLI_OPTS -P deploy-dev
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - build/*.jar

deploy-release-job:
  stage: deploy-release
  dependencies:
    - package-job
  before_script:
    - echo "Installing OpenJDK 8 and Maven"
    - apt update
    - apt install -y openjdk-8-jdk maven

    - echo "Checking POM file..."
    - export JAR_VERSION=$(cat pom.xml | sed '2 s/xmlns=".*"//g' | xmllint --xpath 'string(//project/version)' -)
    - if [[ $JAR_VERSION =~ .*SNAPSHOT ]]; then exit 0; else >&2 echo "Impossible to send artifact to the Nexus, the application is in SNAPSHOT version"; fi
  script:
    - echo "Deploy artifacts to the Nexus production server"
    - mvn -X $MAVEN_CLI_OPTS -P deploy-release
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - build/*.jar
  rules:
    - if: $CI_COMMIT_TITLE =~ /^(Release\sv(\d+\.)?(\d+\.)?(\d))$/
      when: on_success
    - when: never

package-software-job:
  stage: package-software
  dependencies:
    - package-job
  before_script:
    - echo "Installing Zip"
    - apt update
    - apt install -y zip unzip

    - mkdir release
    - echo "Opening Icy... "
    - cd build/icy && java -jar icy.jar -hl
  script:
    - echo "Creating Icy for Windows zip"
    - zip -r ../../release/icy-windows.zip colormap/ ij/ lib/ CHANGELOG icy.exe icy.jar LICENSE README.md setting.xml updater.jar version.xml
    - echo "Creating Icy for Linux zip"
    - zip -r ../../release/icy-linux.zip colormap/ ij/ lib/ CHANGELOG icy icy.jar LICENSE README.md setting.xml updater.jar version.xml
    - echo "Creating Icy for Mac zip"
    - mkdir ../icy.app && cp -t ../icy.app -r Contents/ colormap/ ij/ lib/ CHANGELOG icy.jar LICENSE README.md setting.xml version.xml updater.jar && zip -r ../../release/icy-mac.zip ../icy.app/
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - release/*.zip