image: maven:latest

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE != "push"
      when: never
    - if: $CI_COMMIT_BRANCH == "test_ci"

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: '-Dargline="Xmx1024m" -Dmaven.repo.local=.m2/repository'

stages:
  - build
  - package
  - test
  - deploy-dev
  - deploy-release
  - package-software

cache:
  paths:
    - .m2/repository
    - build/

build-job:
  stage: build
  script:
    - echo "Building Artifact"
    - mvn $MAVEN_CLI_OPTS clean compile
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - build/

package-job:
  stage: package
  dependencies:
    - build-job
  script:
    - echo "Packaging the code"
    - mvn $MAVEN_CLI_OPTS package -Dmaven.test.skip=true
  artifacts:
    expire_in: 30 days
    paths:
      - build/

test-job:
  stage: test
  dependencies:
    - build-job
  script:
    - echo "Checking files"
    - mvn clean verify
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - build/

deploy-dev-job:
  stage: deploy-dev
  dependencies:
    - package-job
  script:
    - echo "Deploy artifact to the Nexus development server"
    - mvn -X $MAVEN_CLI_OPTS -P deploy-dev
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - build/*.jar

deploy-release-job:
  stage: deploy-release
  dependencies:
    - package-job
  before_script:
    - echo "Checking POM file..."
    - JAR_VERSION = $(cat pom.xml | sed '2 s/xmlns=".*"//g' | xmllint --xpath 'string(//project/version)' -)
    - if [[ $JAR_VERSION =~ .*SNAPSHOT ]]; exit 0; fi
  script:
    - echo "Deploy artifact to the Nexus production server"
    - mvn -X $MAVEN_CLI_OPTS -P deploy-release
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - build/*.jar
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /^(Release\sv(\d+\.)?(\d+\.)?(\d))$/
      when: never

#package-software-job:
#  stage: package-software
#  dependencies:
#    - deploy-release-job
#  script:
#    - echo "Construct Icy Software"
#  rules:
#    - if: $CI_COMMIT_TAG =~ /^v(\d+\.)?(\d+\.)?(\d)$/
#    - when: never