image: maven:latest

#workflow:
#  rules:
#    - if: $CI_COMMIT_TAG

variables:
  MAVEN_CLI_OPTS: "-e -X"
  MAVEN_OPTS: ""

stages:
  - build
  - package
  - test
  - deploy
  - documentation
  - release

cache:
  paths:
    - .m2/repository
    - target/

build-job:
  stage: build
  script:
    - echo "Building Artifact"
    - mvn $MAVEN_CLI_OPTS clean compile
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - target/

package-job:
  stage: package
  dependencies:
    - build-job
  script:
    - echo "Packaging the code"
    - mvn $MAVEN_CLI_OPTS package -Dmaven.test.skip=true
  artifacts:
    paths:
      - target/

test-job:
  stage: test
  dependencies:
    - build-job
  script:
    - echo "Checking files"
    - mvn clean verify
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - target/

deploy-job:
  stage: deploy
  #only:
    #- test-ci
  dependencies:
    - package-job
  script:
    - echo "Deploy artifact to the Nexus"
    - mvn $MAVEN_CLI_OPTS deploy
  artifacts:
    when: on_success
    expire_in: 1 hour
    paths:
      - target/*.jar

javadoc-job:
  stage: documentation
  #only:
    #- tags
  dependencies:
    - deploy-job
  script: "mvn $MAVEN_CLI_OPTS javadoc:javadoc"
  artifacts:
    when: on_success
    expire_in: 1 week
    paths:
      - target/site/apidocs/

release-job:
  stage: release
  #only:
    #- releases
  dependencies:
    - deploy-job
  script:
    - "/tools/maven-release"